Odessa.VideoRental.BusinessLogic.Tests/Service References/MovieService/MovieManagement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Movie">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" type="tns:MovieCategoryEnum" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
  <xs:simpleType name="MovieCategoryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Regular" />
      <xs:enumeration value="New" />
      <xs:enumeration value="Kids" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MovieCategoryEnum" nillable="true" type="tns:MovieCategoryEnum" />
  <xs:complexType name="ResponseEnvelopeOfMovieXi4_PVxnh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseEnvelopeOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Movie" Namespace="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="List" nillable="true" type="tns:ArrayOfMovie" />
      <xs:element minOccurs="0" name="ResponseCode" type="tns:ResponseCodeEnum" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseEnvelopeOfMovieXi4_PVxnh" nillable="true" type="tns:ResponseEnvelopeOfMovieXi4_PVxnh" />
  <xs:complexType name="ArrayOfMovie">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovie" nillable="true" type="tns:ArrayOfMovie" />
  <xs:simpleType name="ResponseCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ResponseOk" />
      <xs:enumeration value="ResponseDataError" />
      <xs:enumeration value="ResponseBusinessRuleVoilation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResponseCodeEnum" nillable="true" type="tns:ResponseCodeEnum" />
  <xs:complexType name="ExceptionFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionFaultContract" nillable="true" type="tns:ExceptionFaultContract" />
</xs:schema>