Odessa.VideoRental.BusinessLogic.Tests/Service References/MovieService/MovieManagement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8929/MovieManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" />
  <xs:element name="AddMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" minOccurs="0" name="movie" nillable="true" type="q1:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" minOccurs="0" name="AddMovieResult" nillable="true" type="q2:ResponseEnvelopeOfMovieXi4_PVxnh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoviesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Odessa.VideoRental.Messages" minOccurs="0" name="GetAllMoviesResult" nillable="true" type="q3:ResponseEnvelopeOfMovieXi4_PVxnh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>